<div class="sticky-top">
  <ul class="nav nav-pills nav-fill bg-light py-2">
    <li class="nav-item">
      <h1 class="title-brand" (click)="goToHome()">CLOTHESSTORE</h1>
    </li>
    <li class="nav-item d-flex align-items-center">
      <div class="input-group">
        <input #searchProduct type="text" class="form-control" placeholder="Buscar aqui producto"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2" (click)="searchProducts(searchProduct.value)"><i
            class="fas fa-search"></i></span>
      </div>
    </li>
    <li class="nav-item d-flex align-items-center mx-2">
      <i class="fas fa-shopping-cart fa-2x mx-2"></i>
      <i class="fas fa-user fa-2x mx-2"></i>
      <button class="btn btn-custom-white mx-3">Iniciar sesión</button>
    </li>
  </ul>
  <ul class="nav justify-content-center bg-dark py-2">
    <li class="nav-item">
      <a class="nav-link text-white mx-3" href="#">Hombre</a>
    </li>
    <li class="separator my-1"></li>
    <li class="nav-item">
      <a class="nav-link text-white mx-3" href="#">Mujer</a>
    </li>
    <li class="separator my-1"></li>
    <li class="nav-item">
      <a class="nav-link text-white mx-3" href="#">Junior</a>
    </li>
    <li class="separator my-1"></li>
    <li class="nav-item">
      <a class="nav-link text-white mx-3" href="#">Niños</a>
    </li>
    <li class="separator my-1"></li>
    <li class="nav-item">
      <a class="nav-link text-white mx-3" href="#">Accesorios</a>
    </li>
    <li class="separator my-1"></li>
    <li class="nav-item">
      <a class="nav-link text-white mx-3" href="#">Ofertas</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<footer class="pt-5">
  <div class="d-flex justify-content-center">
    <ul class="list-group mx-3">
      <li class="list-group-item">
        <h3>Políticas</h3>
      </li>
      <li class="list-group-item">Políticas de privacidad</li>
      <li class="list-group-item">Políticas de cambio</li>
      <li class="list-group-item">Políticas de envío</li>
      <li class="list-group-item">Términos y condiciones</li>
      <li class="list-group-item">Responsabilidad social</li>
    </ul>

    <ul class="list-group mx-3">
      <li class="list-group-item">
        <h3>Sobre nosotros</h3>
      </li>
      <li class="list-group-item">Encuentra tu tienda</li>
      <li class="list-group-item">Contáctanos</li>
      <li class="list-group-item">Trabaja con nosotros</li>
    </ul>

    <ul class="list-group mx-3">
      <li class="list-group-item">
        <h3>Síguenos en</h3>
      </li>
      <li class="list-group-item">
        <img src="../../assets/images/icon-facebook.svg" class="w-20" alt="">
        <img src="../../assets/images/icon-twitter.svg" class="w-15 mx-1" alt="">
        <img src="../../assets/images/icon-instagram.svg" class="w-15 mx-2" alt="">
        <img src="../../assets/images/icon-youtube.svg" class="w-15 mx-2" alt="">
      </li>
    </ul>
  </div>
  <div class="text-center text-white copyright">
    <span>©Copyright Colombia. Todos los derechos reservados</span>
  </div>
</footer>